$site-group-nav-bg: #005a9f;
$site-main-nav-bg: #00487f;

$main-text: #333333;
$excerpt-text: #575757;
$headings-text: $site-group-nav-bg;

$cta-up: #f27007;
$cta-over: #e26200;

$dark-border: #999;
$light-border: #c6d6d6;

$highlight-background: #d6d6c6;
$main-background: #f5f7fa;
$video-background: #222e39;

$video-up: #2d3f4e;
$video-down: #273542;

