$main-font: "Open sans", Helvetica, Arial sans-serif;
$heading-font: "Lora", "Times New Roman", serif;

$h1-font-size: 2rem;
$h1-line-height: 2.611rem;

$h2-font-size: 1.667rem;
$h2-line-height: 2.167rem;

$h3-font-size: 1.222rem;
$h3-line-height: 1.611rem;

$h4-font-size: 1rem;
$h4-line-height: 1.333rem;

$body1-font-size: 1rem;
$body1-line-height: 1.333rem;

$body2-font-size: 0.8889rem;
$body2-line-height: 1.111rem;

$body3-font-size: 0.7778rem;
$body3-line-height: 1rem;

$body4-font-size: 0.6667rem;
$body4-line-height: 0.8333rem;

$menu-font-size: 0.8889rem;
