input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $excerpt-text;
	border: 1px solid #c6d6d6;
	border-radius: 0;
	padding: 3px;

	&:focus {
		color: $main-text;
	}
}

select {
	border: 1px solid $main-text;
}

textarea {
	width: 100%;
}
