.btn-pagination {
  color: #0079d6;
  border: 0;
}
.btn-pagination-numbers-inactive {
  border: 1px solid #0079d6;
}
.btn-pagination-numbers {
  width: 40px;
  height: 40px;
}
.btn-pagination-numbers :hover {
  border: 1px solid #0079d6;
}
.btn-pagination-text :hover {
  color: #00487f;
}
.btn-pagination-text-inactive {
  color: #ccc;
}
.pagination li {
  display: inline-block;
}
.pagination li > a,
.pagination li > span {
  font-size: 12px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #0079d6;
  background-color: transparent;
  background: transparent;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus,
.pagination li > a:hover,
.pagination li > span:hover,
.pagination li > a:focus,
.pagination li > span:focus {
  color: #0079d6;
  border: 1px solid #0079d6;
  background-color: transparent;
  background: transparent;
}
.pagination .disabled > span,
.pagination .disabled > span:hover,
.pagination .disabled > span:focus,
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus {
  border: 1px solid transparent;
  color: #757575;
  background-color: transparent;
}